*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: rgb(48, 16, 63);
    height: 5rem;
    line-height: 5rem;
    color: white;
}
.choices{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.choice:hover{
    cursor:pointer;
    background-color: rgb(48, 16, 63);

}
.choice{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;

}
#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 4rem;
}
#msg{
    background-color: rgb(48, 16, 63);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}